body{  
    box-sizing: border-box; 
} 


/* Start Header Section */ 
header{ 
    width: 1333px; 
    height: 80px;   
    position: fixed;  
} 
.container{  
    background:#fefefe; 
    box-shadow: #ffffff1a 1 2; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;  
} 
.logo{ 
    width: 100px; 
    height: 80px; 
}
.logo img{ 
    width: 90px; 
    height: 65px; 
    padding: 10px; 
} 
nav ul li{ 
    padding:0px 0px; 
    margin:0px;
    display: inline-block; 
} 
nav ul > li{ 
    padding:15px; 
    position:relative; 
    list-style:none;
    cursor: pointer; 
    font-size: 18px; 
    text-align: center; 
}
#home{ 
    background-color:#0a8fc5; 
} 
nav ul li:hover{ 
    background:#0a8fc5; 
    display: inline-block; 
} 
nav ul li a{ 
    color: #000; 
    text-decoration:none; 
} 
nav ul li ul{ 
    position:absolute; 
    left: 80px;
    top: 62px; 
    width:190px; 
    display:none; 
    padding:0px; 
} 
nav ul li:hover ul{ 
    display:inline-block;
    background:#fff; 
    box-sizing:border-box; 
} 
nav ul ul a{ 
    font-size: 16px; 
} 
nav ul li ul li:hover{ 
    background: #0a8fc5; 
    display: block; 
}   
nav ul ul ul li{
    display: none;
}
nav ul ul li:hover ul li{
    display: block;
}
nav ul ul li ul{ 
    position:absolute; 
    left:130px;
    top:62px; 
    width:190px; 
    display:none; 
    padding:0px; 
} 
/* End Header Section */ 



/* Start Main Section */ 
.cover img{ 
    width: 100%; 
    height: 450px; 
    margin-top: 95px;  
    padding-bottom: 30px; 
    background-size: cover; 
}     
.mainContainer{ 
    display: flex; 
    justify-content: space-around;
    margin: 50px; 
} 
.info{ 
    width: 1033px; 
    margin-left: 20px; 
    padding: 30px; 
}
.info h1{ 
    color: #e93701; 
    font-size: 25px; 
    letter-spacing: 2px; 
    border-left: 30px solid #0a8fc5;
} 
.info p , li{ 
    line-height: 1.8; 
    letter-spacing: 0.5px; 
    text-align: justify; 
} 
.info h1 , hr , p , li{ 
    padding-left: 20px; 
    padding-right: 20px; 
}

/* Start Syllabus Section */ 
.syllabusInfo{ 
    width: 1033px; 
    margin-left: 20px; 
    padding: 10px; 
    margin-top: 30px; 
    margin-bottom: 30px;
    padding-left: 20px; 
    padding-right: 20px; 
} 
.syllabusInfo h1{ 
    color: #e93701; 
    font-size: 25px; 
    letter-spacing: 2px; 
    border-left: 30px solid #0a8fc5; 
    margin-bottom: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
} 
.syllabusSchedule{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    margin: 20px;
    background-color: #ffffff1a; 
} 
.syllabusSchedule h3{ 
    color: #e93701; 
    letter-spacing: .8px; 
    border-left: 15px solid #0a8fc5; 
    margin-bottom: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
} 
.syllabusSchedule table , th , td{ 
    border: .1px solid #0005; 
    text-align: center; 
} 
.syllabusSchedule th,td{ 
    padding: 10px; 
} 
/* End Syllabus Section */ 


/* Start Faculty Section */
.wrapper .heading{
    text-align: center;
    color: #e93701;
    margin: 70px;
    font-size: 25px;
    letter-spacing: 2px;
}
.facultyPro {
    display: flex;
    margin: 100px;
    margin-top: 0;
} 
.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}  
.title {
    color: grey;
    font-size: 18px;
}  
.profile button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #e93701;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}  
.profile a {
    text-decoration: none;
    font-size: 22px;
    color: #0a8fc5;
}  
button:hover, a:hover {
    opacity: 0.7;
}
/* End Faculty Section*/ 


/* Start Research Groups Section */ 
.researchInfo{ 
    width: 1033px; 
    margin-left: 20px; 
    padding: 10px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
    padding-left: 20px;
    padding-right: 20px; 
} 
.researchInfo h1{ 
    color: #e93701; 
    font-size: 25px; 
    letter-spacing: 2px; 
    border-left: 30px solid #0a8fc5; 
    margin-bottom: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
} 
.researchInfo h4{ 
    color: #e93701;
    font-size: 18px; 
    letter-spacing: .8px; 
    border-left: 20px solid #0a8fc5; 
    margin: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
} 
.researchInfo li{ 
    margin-left: 60px; 
} 
/* End Research Groups Section */ 


/* Start Research Publication Section */ 
.publicationInfo { 
    width: 1033px; 
    margin-left: 20px; 
    padding: 10px;
    margin-top: 30px; 
    margin-bottom: 30px; 
    padding-left: 20px; 
    padding-right: 20px;
} 
.publicationInfo h1{ 
    color: #e93701; 
    font-size: 25px; 
    letter-spacing: 2px; 
    border-left: 30px solid #0a8fc5; 
    margin-bottom: 40px; 
    padding-left: 20px; 
    padding-right: 20px; 
} 
.publicationInfo h4{ 
    color: #e93701; 
    font-size: 18px;
    letter-spacing: .8px;
    border-left: 20px solid #0a8fc5;
    margin: 40px; 
    padding-left: 20px;
    padding-right: 20px; 
} 
.publicationInfo li{ 
    margin-left: 60px; 
    margin-right: 30px; 
} 
/* End Research Publication Section */


/* Start Contact Us Section */
.wrapper{
    margin: 90px;
}
.wrapper .heading{
    text-align: center;
    color: #e93701;
    margin: 50px;
    margin-top: 0;
    font-size: 25px;
    letter-spacing: 2px;
}
.contactUs {
    display: flex;
    justify-content: center;
    margin-top: 0;
}
/* End Contact Us Section */

/* End Main Section */ 



/* Start Footer Section */ 
.footerCopyRights{ background-color: #0a8fc5; text-align: center;
color: #fff; border-top: 1px solid #ffffff1a; padding: 5px; } 
/* End Footer Section */ 
 